.banner-section-img{
    height: 360px;
}
.banner-section-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-section-text{
    position: absolute;
    top:139px;
    bottom: 106px;
    left:260px;
    right:260px;
    font-size: 50px;
    font-family: Helvetica;
}
.banner-section-text h2{
    text-align: center;
    color:#fff;
    font-weight: bold;
}
.selection-container-img img{
    height: 326px;
    width: 548px;
}
.selection-container-text h4{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 25px;
}
.selection-container{
    padding-bottom: 60px;
    padding-top: 35px;
}
.centered {
    position: absolute;
    top: 13%;
    left: 10%;
    right: 20%;
    font-weight: bold;
    color:white;
  }
  .centered h5{
      padding-top: 10px;
  }
.screen-wrapper-img img{
    padding-top: 30px;
    height: 320px;
    width: 320px;
}
.maximum-value-reduce-risk{
    padding-top: 20px;
    padding-bottom: 80px;
}
.curser-wrapper-img img{
    height: 90px;
    width: 90px;
    float: left;
}
.curser-wrapper-text p{
    padding-left: 110px;
    padding-bottom: 30px;
}
.curser-wrapper-text h4{
    font-weight: bold;
    padding-left: 110px;
}
.maximum-value{
    padding-top: 50px;
}
.maximum-value-screen p{
    margin: 0px;
    padding-bottom: 70px;
    padding-top: 10px;
    padding-left: 180px;
    padding-right: 180px;
}
.companies{
    background-color: #d4d2cd;
    height: 400px;
    padding-left: 140px;  
}
.companies h3{
    padding-left: 32%;
    font-weight: bold;
    font-size: 27px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.container-greybox{
    background-color: #d4d2cd;
    height:550px;
    padding-left: 20px;
    padding-top: 60px;
}
.all-heading-text h2{
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
}