table{
    height: 55px;
    width: 300px;
    background-position: 20px;

}
tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #b3ffff;
    padding: 8px;
} 
td{
    padding-left: 25px;
    padding-right: 25px;
}
th{
    height: 35px;
    background-color: pink;
    border: 1px solid black;
}
button{
    background-color: pink;
    height: 30px;
    width: 60px;
}
